<h1>Coordinators</h1>
<table class="table table-striped">
  <col/>
  <col/>
  <col/>
  <col/>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th><%= link_to "New", new_coordinator_path, :class => 'btn btn-mini' %></th>
    </tr>
  </thead>
  <tbody>
    <% @coordinators.each do |coordinator|%>
    <tr>
      <td><%= format_name(coordinator) %></td>
      <td><%= coordinator.phones.first.present? ? coordinator.phones.first.phone_number : "&nbsp;" %></td>
      <td><%= coordinator.contact_info.email %></td>
      <td><%= link_to "Edit", edit_coordinator_path(coordinator), :class => 'btn btn-mini' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
